In [1]:
import pandas as pd
dashDF = pd.read_csv('entries.csv')
dashdaysDF = pd.read_csv('days.csv')
dashweeksDF = pd.read_csv('weeks.csv')

In [2]:
dashDF.head()

,Date,Restaurant Name,Pay,Tip,Total,Peak Pay,Tip after Delivery
0,3/27,Erika's Restaurant,$5.25,$1.50,$6.75,-,-
1,3/27,Chick-fil-A,$4.50,$3.50,$8.00,-,-
2,3/27,Wendy's,$3.00,$4.00,$7.00,-,-
3,3/27,Annam Pho and Sandwiches,$7.00,$0.00,$7.00,-,-
4,3/31,Disfruta,$3.75,$1.00,$4.75,-,-

In [4]:
dashDF["Restaurant Name"].nunique()

102

In [7]:
dashDF["Pay"] = dashDF["Pay"].str.replace('$', '')
dashDF["Tip"] = dashDF["Tip"].str.replace('$', '')
dashDF["Total"] = dashDF["Total"].str.replace('$', '')

/tmp/ipykernel_59522/991356722.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dashDF["Pay"] = dashDF["Pay"].str.replace('$', '')
/tmp/ipykernel_59522/991356722.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dashDF["Tip"] = dashDF["Tip"].str.replace('$', '')
/tmp/ipykernel_59522/991356722.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dashDF["Total"] = dashDF["Total"].str.replace('$', '')

In [8]:
dashDF.head()

,Date,Restaurant Name,Pay,Tip,Total,Peak Pay,Tip after Delivery
0,3/27,Erika's Restaurant,5.25,1.50,6.75,-,-
1,3/27,Chick-fil-A,4.50,3.50,8.00,-,-
2,3/27,Wendy's,3.00,4.00,7.00,-,-
3,3/27,Annam Pho and Sandwiches,7.00,0.00,7.00,-,-
4,3/31,Disfruta,3.75,1.00,4.75,-,-

In [10]:
dashDF["Pay"].unique()

array(['5.25', '4.50', '3.00', '7.00', '3.75', '6.50', '4.00', '5.50',
       '5.75', '7.75', '9.25', '2.25', '3.25', '3.50', '2.50', '5.00',
       '4.75', '2.00', '8.50', '10.50', '6.75', '4.25', '8.25', '6.00',
       '13.00', '11.00', '6.25', '9.00', '15.50', '8.00', '12.75', '7.50',
       '11.50', '7.25', '9.75', '9.50', '8.75', '2.75', '14.75', '12.50',
       '10.75', '3.20', '3.70', '13.50', '13.75'], dtype=object)

In [11]:
dashDF["Pay"] = dashDF["Pay"].astype('float')

In [12]:
dashDF["Tip"] = dashDF["Tip"].astype('float')
dashDF["Total"] = dashDF["Total"].astype('float')

In [18]:
dashDFbyStoreAVG = dashDF.groupby(["Restaurant Name"]).agg({"Pay": "mean", "Tip": "mean"})
#Pay": "sum", "Tip": "sum",

In [19]:
dashDFbyStoreAVG = dashDFbyStoreAVG.round({'Pay': 2, 'Tip': 2})

In [25]:
dashDFbyStoreAVG = dashDFbyStoreAVG.sort_values("Tip", ascending=False)
dashDFbyStoreAVG.head(20)

                                        Pay    Tip
Restaurant Name
Killer Pizza From Mars                 4.25  12.50
Brooklyn Boyz Pizza                    5.25  12.15
Sabai Sabai Thai Kitchen               8.25  12.00
Hunter Steakhouse                     10.00  11.50
Ceja's Mexican Diner & Grill           5.50  10.50
L&L Hawaiian Barbecue                  7.75  10.00
Umi Japanese Grill & Sushi             3.25   9.50
Mountain Mike's Pizza                  4.88   8.25
Maan's Mediterranean Grill             5.81   8.00
Denny's                                4.00   7.25
Epic Wings                             7.75   7.00
Anita's Mexican Restaurant & Cantina   6.12   7.00
Graziano's Pizza                       5.75   6.50
La Hacienda                            8.50   6.50
The Draft Restaurant & Sports Bar      6.00   6.38
Savory Thai                            5.25   6.25
Harney Sushi                           4.50   6.00
Habit Burger                           4.00   6.00
Thai Thai Oceanside Restaurant         2.92   5.50
Broken Yolk                            3.75   5.50